@import "tailwindcss";

:root {
  --bg-dark: oklch(0.92 0.06 298);
  --bg: oklch(0.96 0.06 298);
  --bg-light: oklch(1 0.06 298);
  --text: oklch(0.15 0.12 298);
  --text-muted: oklch(0.4 0.12 298);
  --highlight: oklch(1 0.12 298);
  --border: oklch(0.6 0.12 298);
  --border-muted: oklch(0.7 0.12 298);
  --primary: oklch(0.4 0.12 298);
  --secondary: oklch(0.4 0.12 118);
  --danger: oklch(0.5 0.12 30);
  --warning: oklch(0.5 0.12 100);
  --success: oklch(0.5 0.12 160);
  --info: oklch(0.5 0.12 260);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-bg-dark: var(--bg-dark);
  --color-background: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: oklch(0.1 0.06 298);
    --bg: oklch(0.15 0.06 298);
    --bg-light: oklch(0.2 0.06 298);
    --text: oklch(0.96 0.1 298);
    --text-muted: oklch(0.76 0.1 298);
    --highlight: oklch(0.5 0.12 298);
    --border: oklch(0.4 0.12 298);
    --border-muted: oklch(0.3 0.12 298);
    --primary: oklch(0.76 0.12 298);
    --secondary: oklch(0.76 0.12 118);
    --danger: oklch(0.7 0.12 30);
    --warning: oklch(0.7 0.12 100);
    --success: oklch(0.7 0.12 160);
    --info: oklch(0.7 0.12 260);
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .card-screen {
    @apply min-h-dvh flex items-center justify-center;
  }

  .card {
    @apply border-border border border-solid rounded-md p-4;
  }

  .flex-ccl {
    @apply flex flex-col items-start justify-center;
  }
  
  .flex-cc {
    @apply flex flex-col items-center justify-center;
  }

  .flex-rl {
    @apply flex flex-row items-center;
  }

  .btn-primary {
    @apply bg-primary text-black py-1 px-2 rounded-md border-border;
  }
}

@layer base {
  input[type="text"], input[type="email"], input[type="password"] {
    @apply border-border border-2 border-solid rounded-md px-2
    focus:outline-none;
  }

  button {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-xl;
  }
}