@import "tailwindcss";

:root {
  --background: oklch(21% 0.04659 328.863);
  --foreground: oklch(95% 0.00011 271.152);
  --highlight: oklch(26% 0.06 328);
  --primary: oklch(89% 0.11439 117.639);
  --secondary: oklch(62% 0.17754 138.803);
  --background-medium: oklch(33% 0.13255 28.785);
  --background-light: oklch(48% 0.15523 36.78);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-highlight: var(--highlight);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background-medium: var(--background-medium);
  --color-background-light: var(--background-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(21% 0.04659 328.863);
    --foreground: oklch(95% 0.00011 271.152);
    --highlight: oklch(26% 0.06 328);
    --primary: oklch(89% 0.11439 117.639);
    --secondary: oklch(62% 0.17754 138.803);
    --background-medium: oklch(33% 0.13255 28.785);
    --background-light: oklch(48% 0.15523 36.78);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .card-screen {
    @apply flex min-h-screen items-center justify-center;
  }

  .card {
    @apply bg-background-medium p-2 rounded-sm text-foreground
      border-background-light border-2 border-solid;
  }

  .flex-cc {
    @apply flex flex-col justify-center items-center;
  }

  .flex-ccl {
    @apply flex flex-col justify-center items-start;
  }
}

@layer base {
  input {
    @apply bg-highlight px-2
    focus:outline-none
    border-background-medium border-2 border-solid rounded-sm;
  }

  button {
    @apply cursor-pointer;
  }
}